
body {
	width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(logocash.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
	color: black;
	font-size: 20px;
	font-family: Helvetica;

}

li {
	list-style: none;
	font-size: 15px;
	font-family: cursive;
}